html {
    background: url(../IMG/backgound_mountain.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

p {
    margin-top: 5%;
    color: whitesmoke;
    font-size: 20px;
    text-align: justify;
}

.container {
    padding-top: 2%;
    text-align: center;
}

h2 {
    margin-top: 50px;
    text-align: center;
}

span {
    margin-left: 50px;
}

.btn {
    width: 150px;
    padding: 5px;
    margin-top: 50px;
}